// Import the reset file
@import "reset";

// Color variables
$white: hsl(0, 0%, 100%);
$cyan-600: hsl(185, 61%, 50%);
$cyan-300: hsl(190, 78%, 74%);
$purple-600: hsl(268, 49%, 48%);
$purple-300: hsl(270, 62%, 75%);
$slate-900: hsl(220, 26%, 20%);
$slate-600: hsl(218, 20%, 46%);
$slate-300: hsl(220, 16%, 73%);

body {
  background-color: $white;
  font-family: "Red Hat Display", sans-serif;
}
h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.1;
  text-align: center;
}
button {
  padding: 1rem 2.5rem;
  border-radius: 100rem;
  border: none;
  font-weight: 900;
  color: $white;
}
.cyan-btn {
  background-color: $cyan-600;
  strong {
    color: $cyan-300;
  }
}
.purple-btn {
  background-color: $purple-600;
  strong {
    color: $purple-300;
  }
}

header {
  img.logo {
    margin: 3rem auto 0;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 0;
    overflow: hidden;
    figure {
      position: relative;
      img {
        position: absolute;
      }
    }
    .hero-left,
    .hero-right {
      display: none;
    }
    .hero-img {
      display: block;
      width: 100%;
      img {
        left: -1.62rem;
        right: -1.62rem;
        width: calc(100% + 3.24rem);
      }
    }
    .header-actions {
      width: 28.01875rem;
      margin: 1.4375rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }
}

@media (min-width: 48rem) {
  header {
    img.logo {
      margin-top: 5rem;
    }
    section {
      flex-direction: row;
      justify-content: space-between;
      .hero-left,
      .hero-right {
        display: block;
        width: 24.625rem;
      }
      .hero-left img {
        left: -1.62rem;
        top: 0;
      }
      .hero-right img {
        right: -1.62rem;
        top: 3.35rem;
      }
      .hero-img {
        display: none;
      }
    }
  }
}
